*{
    padding: 0px;
    margin: 0px;
}

main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    justify-content: center;
    /* padding-bottom: 20px; */
}

#navDiv {
    width: 80%;
    margin: auto;
    /* background-color: rgb(0, 255, 47); */
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
    justify-content: center
}

#header{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 20px;
    gap: 20px;
}

#logo {
    margin: auto;
    background-color: black;
    color: white;
    width: 200px;   
    height: 100px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    font-size: larger;
}

#title {
    background-color: rgb(53, 53, 53);
    color: white;
    width: 200px;
    height: 70px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    font-size: larger;
}

.button {
    background-color: #18015C;
    width: 40%;   
    height: 44px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    font-size: larger;
}

a{
    color: white;
}

#cityInput {
    padding: 8px;
    height: 26px;
    border: 1px solid #1d0146;
    border-radius: 6px;
    font-size: 16px;
    width: 200px;
}

#content {
    height: 60vh;
    width: 50%;
    margin: auto;
    background-color: rgba(138, 142, 255, 0.8);
    font-size: 36px;
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 16px;
}

#content-transparent {
    height: 60vh;
    background-color: rgba(138, 142, 255, 0);
    padding: 50px;
}

#error-message {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: large;
    width: 30%;
    height: 15vh;
    margin: auto;
    text-align: center;
    padding: 200px;
    border-radius: 16px;
} 