*{
    padding: 0px;
    margin: 0px;
}

main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    justify-content: center;
}

#navDiv {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
    justify-content: center
}

#header{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 20px;
    gap: 20px;
}

#logo {
    margin: auto;
    background-color: #3e018d;
    color: white;
    width: 200px;   
    height: 100px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    font-size: larger;
}

#title {
    background-color: rgb(53, 53, 53);
    color: white;
    width: 200px;
    height: 70px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    font-size: larger;
}

.button {
    background-color: #3e018d;
    width: 40%;   
    height: 44px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}

.second-button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #000000;
    width: 40%;   
    height: 44px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}

a{
    color: white;
}

#cityInput {
    padding: 8px;
    height: 26px;
    border: 1px solid #1d0146;
    border-radius: 6px;
    font-size: 16px;
    width: 200px;
}

#content-horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* height: 50vh; */
    width: 80%;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-size: 20px;
    color: white;
    padding: 50px;
    padding-top: 10px;

    /* text-align: center; */
    border-radius: 16px;
}

#content-vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 50vh; */
    width: 80%;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-size: 20px;
    color: white;
    padding: 50px;

    /* text-align: center; */
    border-radius: 16px;
}

#description {
    /* height: 50vh; */
    width: 48%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    /* text-align: center; */
    border-radius: 16px;
}

#content-vertical #description {
    width: 80%;
    margin: auto;
}

#chart {
    margin: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 16px;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: -50px;
}

#error-message {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: large;
    width: 30%;
    height: 15vh;
    margin: auto;
    text-align: center;
    padding: 200px;
    border-radius: 16px;
} 

#cityInfo {
    color: black;
    font-size: 36px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    main,
    #navDiv,
    #header {
        flex-direction: column;
        align-items: center;
    }

    #logo,
    #title,
    .button,
    #cityInput,
    #content,
    #error-message {
        width: 80% !important; 
    }

    #content,
    #error-message {
        font-size: 22px;
        padding: 20px;
        height: auto;
    }

    #cityInfo {
        font-size: 22px;
    }

    #navDiv {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
    }
}
